body{
    background-color:skyblue;
    font-family: 'Pacifico', cursive;
    
}
input{
    font-family: 'Pacifico', cursive;
    border-radius: 5px;
    outline:none;
    background-color:skyblue;
    transition: ease-in 1s;
}
input:hover{
    background-color: blueviolet;
}
select{
    font-family: 'Pacifico', cursive;
    border: solid 2px;
    border-radius: 5px;
    outline:none;
    background-color:skyblue;
    transition: ease-in 1s;
}

select:hover{
    background-color: blueviolet;
 
}
textarea{
    font-family: 'Pacifico', cursive;
    outline:none;
    background-color:skyblue;
border: solid 2px;
}
img{
    width: 15px;
    height: 15px;
    
}
.confirmText{
    display:inline-block;vertical-align:middle;width:15px;height:15px;
    transition: ease 1s;
    position: relative;
}
.confirmText::before{
    content: "";
   
position: absolute;
top: -5px;
left: 20px;
  width: 20px;
  height: 20px;

  background-image: url('sent.png');

  background-size: 20px 20px;
  box-shadow: 1px 1px 5px #000;
}

header{
    display: flex;
  flex-direction: column;

    
}
.header__title{
   width: 100%;
   text-align: center;
   
}
.header__button{
    text-align: end;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main__input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 750px;
    
    border: solid 1px slategray;
    border-radius: 30px;
    box-shadow: 5px 3px 4px 2px darkgrey;
}
[name="description"]{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 60px;
    resize:none;

}
textarea:focus{
    outline: none;

}
.main__lable{
width: 100%;
text-align: center;
}
.main__content{
    max-width: 750px;
    width: 100%;
    margin-top: 20px;
}
.main__content__task{
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px ;
    background-color: cyan;
    box-shadow: 5px 3px 4px 2px darkgrey;
}
.main__content__taskName{
    display: flex;
    justify-content: space-between;
  
   /*  border: coral solid 1px; */
}
.main__content__name{
    max-width: 230px;
    overflow: hidden;
    border: solid 2px rgb(121, 253, 165);
    border-radius: 8px;
    background-color:rgb(121, 253, 165); 
}
.main__content__date{
    border: hotpink solid 2px;
    border-radius: 8px;
    background-color:hotpink; 
}
.main__content__priority{
    border: rgb(224, 228, 14) solid 2px;
    border-radius: 8px;
    background-color:rgb(224, 228, 14); 
}
.main__content__change{
    cursor: pointer;
    margin-right: 5px;
    transition: ease 1s;
}
.main__content__change:hover{
    transform: scale(1.4);
}
.main__content__description{
    margin-left: 5px;
}

.main__content__taskValue{
    display: flex;
    justify-content:space-between;

}
.main__content__taskValue input{
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
}
.highPriority{
    border: rgb(250, 99, 11) solid 2px;
    border-radius: 8px;
    background-color:rgb(250, 99, 11); 
}
.main__content__description div{
    text-align: center;
}
.main__content__pogination{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main__content__page{
    width: 22px;
    height: 22px;
    background-color: azure;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
}
.main__sort__filter{
    list-style: none;
    position: relative;
    
}
li{
    opacity: 0;
    z-index: 2;
    position: relative;
    transition: 1s;
    display: inline-block;
   cursor: pointer;
}
.main__sort__filter:hover li{
     opacity: 1;
}
 li:hover{
     color: blueviolet;
   
}
.main__sort{
    display: flex;
    align-items: center;
height: 40px;
flex-wrap: wrap;
}
.main__content__taskValue{
    height: 0px;
    opacity: 0;
    transition: ease 0.5s;
    align-items: center;
}
.main__content__task:hover .main__content__taskValue{
    height: 50px;
    opacity: 1;
}
.tach{
    height: 50px;
    opacity: 1;
}
